.main{
  backgrround-color: #ddd;
  border: 1px solid skyblue;
  display: flex;
  flex-direction: row;
}

.profile{
  padding: 2%;
  margin: 2%;
  width: 15%;
  font-size=:225px;
  text-align: center;
  border radious: 10px;

  back-ground-color: #fff;
  border: 2px solid red;
}
.profile img{
  width: 100px;
  border-radius: 50%;
  border: 2px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content{
  padding: 2%;
  margin: 2%;
  width: 100%;
  border-radius: 10%;
  back-ground-color: #fff;
  border: 2px solid red;
}
@media only screen and (min-width: 481px) and (max-width: 769px){
  .main{
    backgrround-color: #ddd;
    border: 1px solid skyblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .profile{
    padding: 2%;
    margin: 2%;
    width: 92%;
    border radious: 10%;
    font-size=:125px;
    text-align: center;
    border radious: 10px;

    back-ground-color: #fff;
    border: 2px solid red;
  }
  .profile img{
    width: 100px;
    border-radius: 50%;
    border: 2px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .content{
    padding: 2%;
    margin: 2%;
    width: 92%;
    border-radius: 10%;
    back-ground-color: #fff;
    border: 2px solid red;
  }

}
